:root{
  --Chartreuse:#7FFF00;
  --mainDark:#333333;
  --mainWhite:#f3f3f3;
  --mainBlack:#000000;
  --mainYellow:#ffa400;
  --secDark:#333;
  --snowWhite: #FFFAFA;
  --spaceGrey: #4f5b66;
  --appleBlue:#0077ED;
  --mainRed:#DC3545;
  --backgroundWhite:#FFFFFF;
  
}

body{
  font-family:'Raleway', sans-serif !important;
  letter-spacing:0.05rem;
  background:var(--backgroundWhite) !important;
  color: var(--mainBlack) !important;

}

.fixBottom{
  position:relative !important;
  left:0 !important;
  right:0 !important;
  bottom:0 !important;
}

.textTitle {
  
  font-family:'PT Serif', serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase !important;
}
.homePageTitle{
  
  font-family:'PT Serif', serif !important;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase !important;
}

.textSnow{
  color: var(--snowWhite) !important;
}

.bgBlack{
  background: var(--mainDark);
}

.bgWhite{
  background: var(--backgroundWhite);
}

.textWhite{
  color: var(--mainWhite);
}
.textChartreuse{
  color: var(--Chartreuse);
}
.textMainBlack{
  color: var(--mainBlack);
}

li {
  color: transparent !important;
}

.btn-black{
  background:var(--mainBlack) !important;
  text-transform: capitalize;
  font-size: 1rem !important;
  color: var(--snowWhite) !important;
  transition:all 0.35s ease-in-out;
  border-radius: 1rem 1rem 1rem 1rem !important;
  padding:0.2rem 0.5rem;
  letter-spacing:0.05rem;
  
}


.btn-black:hover{
  background: transparent !important;
  color: var(--mainBlack) !important;
}

.btn-blue{
  text-transform:capitalize;
  font-size:1rem;
  background: transparent;
  border:transparent;
  color:var(--appleBlue) !important;
  padding:0.2rem 0.5rem;
  cursor:pointer;
  margin:0.2rem 0.5rem 0.2rem 0;
  transition:all 0.35s ease-in-out;
  border-radius: 1rem 1rem 1rem 1rem !important;
  letter-spacing:0.05rem;
}

.btn-blue:hover{
    background:var(--appleBlue);
    color: var(--mainWhite) !important;
}
  



.cart-icon{
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--mainRed);
  letter-spacing:0.05rem !important;
}

.navbar.center .navbar-inner {
  text-align: center !important;
  align-content: center !important;
}

.navbar.center .navbar-inner .nav {
  display:inline-block !important;
  float: none !important;
  align-content: center !important;
}

.finePrint {
  font-family:'Raleway', sans-serif !important;
  letter-spacing:0.05rem !important;
  font-size: 1rem !important;
  color: var(--snowWhite)
}

.finePrintBlack {
  font-family:'Raleway', sans-serif !important;
  letter-spacing:0.05rem !important;
  font-size: 1rem !important;
  color: var(--mainBlack)
}

#nav-dropdown{
  color: var(--snowWhite) !important;

}

