:root{
  --Chartreuse:#7FFF00;
  --mainDark:#232528;
  --mainWhite:#f3f3f3;
  --mainBlack:#000000;
  --mainYellow:#ffa400;
  --secDark:#333;
  --snowWhite: #FFFAFA;
  --spaceGrey: #4f5b66;
  --appleBlue:#0077ED;
  --mainRed:#DC3545;
  
  
}

body{
  font-family:'Fira Code', monospace !important;
  background:var(--mainWhite) !important;
  color: var(--mainBlack) !important;

}

.textTitle {
  
  font-family:'Roboto Slab', monospace !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.textSnow{
  color: var(--snowWhite);
}

.bgBlack{
  background: var(--mainDark);
}

.textWhite{
  color: var(--mainWhite);
}
.textChartreuse{
  color: var(--Chartreuse);
}
.textMainBlack{
  color: var(--mainBlack);
}

li {
  color: transparent !important;
}

.btn-black{
  background:var(--mainBlack) !important;
  text-transform: capitalize;
  font-size: 0.75rem !important;
  color: var(--snowWhite) !important;
  border-radius: 1rem 1rem 1rem 1rem !important;
  
}

.btn-black:hover{
  background: transparent !important;
  color: var(--mainBlack) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--mainRed);
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}
